/* Header */
a {
	color: black;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-right: 25px;
}



.logo {
	display: flex;
	align-items: center;
	flex: 3;
	padding-left: 20px;
}

.logo span {
	color: MediumAquamarine;
}

.buttons {
	flex: 1;
	display: flex;
	justify-content: space-around;
}

/* Main Body */

.maincontainer {
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
	margin-left: 10px;
}


.column {
	display: flex;
	flex-direction: column;
}


.column.large {
 	width: 630px;
}


.column.medium {
 	width: 300px;
}


.column.small {
 	width: 240px;
 	display: flex;
 }

 .narrative {
 	font-family: Georgia;
 	font-size: 17px;
 	color: black;
 }

 .pic {
 	display: flex;
 	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	min-height: 300px;
	overflow: hidden;
 }

 .large .stories {
 	display: flex;
 }

.stories .pic {
	text-align: center;
	padding-right: 10px;
}

.orca {
	margin-right: 10px;
}

.burger {
	margin-left: 10px;
}

.news-bites {
	display: flex;
	flex-direction: column;
 	background-color: WhiteSmoke;
  	font-family: Verdana;
  	font-size: 12px;
  	color: DimGray;
}

.news-bites span {
	border-bottom: 1px solid black;
  	padding: 10px 20px;
}

.news-bites-title {
	font-size: 16px;
 	font-weight: bold;
 	text-align: center;
}

/* Images */

.phish {
	background-image: url(file:///Users/anacollado/Desktop/Projects/My%20Times/resources/images/MainStory.png);
	font-size: 40px;
}

.earth {
	background-image: url(file:///Users/anacollado/Desktop/Projects/My%20Times/resources/images/FallSeason.png);
}

.camera {
	background-image: url(file:///Users/anacollado/Desktop/Projects/My%20Times/resources/images/HipsterCameraman.png);
}

.cat { 
	background-image: url(file:///Users/anacollado/Desktop/Projects/My%20Times/resources/images/CatCEO.png);

}

.cookie-pic {
	width: 100%;
}

